body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://w.forfun.com/fetch/bd/bd38ecaaafede70d5316bd433e2d46cb.jpeg');
    background-position: top center;
    backdrop-filter: saturate(150%);
    background-size: cover;
}


@media screen and (max-width: 460px) {
    body {
        background-position: right center;
    }
}
