<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo.PNG" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Video Downloader</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-5xl font-bold mb-8 text-white italic drop-shadow-lg">Descarga completada! Gracias por estar aqui. 🧨 </h1>
    </div>
    

    <script src="../static/main.js"></script>
</body>
</html>
